[submodule "Friday_TS2_0900"]
	path = Friday_TS2_0900
	url = https://github.com/NatanMish/data_validation
[submodule "Friday_TS2_1100"]
	path = Friday_TS2_1100
	url = https://github.com/anovos/anovos
[submodule "Friday_TS2_1330"]
	path = Friday_TS2_1330
	url = https://github.com/rrpelgrim/dask-mini-tutorial.git
[submodule "Friday_TS1_1530"]
	path = Friday_TS1_1530
	url = https://github.com/DataGasmic/PyData-London-2022-Tutorial-Stacking-Neural-Nets-Together.git
