[submodule "Friday_TS2_0900"]
	path = Friday_TS2_0900
	url = https://github.com/NatanMish/data_validation
[submodule "Friday_TS2_1100"]
	path = Friday_TS2_1100
	url = https://github.com/anovos/anovos
[submodule "Friday_TS2_1330"]
	path = Friday_TS2_1330
	url = https://github.com/rrpelgrim/dask-mini-tutorial.git
